---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

type Props = { course: CollectionEntry<"courses"> };

export async function getStaticPaths() {
  const courses = await getCollection("courses");
  return courses.map((course) => ({
    params: { slug: course.slug },
    props: { course },
  }));
}

const { course } = Astro.props;
const { title, description, image } = course.data;
const { Content } = await course.render();
---

<Layout title={title} description={description}>
  <h2 class="text-xl font-bold">{title}</h2>

  <p class="p-3 text-lg font-body">{description}</p>
  {image && <Image src={image.src} alt={image.alt} />}
  <div
    class="font-body prose-headings:font-bold prose-headings:underline prose-headings:mt-2 prose-p:my-4
    prose-li:ml-6 prose-li:list-disc"
  >
    <Content />
  </div>
</Layout>
