---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = { course: CollectionEntry<"courses"> };

const {
  course: {
    slug,
    data: { title, description, image },
  },
} = Astro.props;
---

<li id={slug} class="max-w-md list-none rounded border-4 border-yellow-200 p-2">
  <a href={slug}>
    <h2 class="text-lg font-bold">{title}</h2>
    <p class="">{description}</p>
    {image && <Image src={image.src} alt={image.alt} />}
  </a>
</li>
