---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  index: number;
  course: CollectionEntry<"courses">;
};

const {
  index,
  course: {
    slug,
    data: { title, description, image },
  },
} = Astro.props;

const isOdd = index % 2 === 0;
---

<li
  id={slug}
  class=`max-w-lg list-none pb-8 border-b-4 border-yellow-200 p-4
          duration-300 taos:opacity-0 ${isOdd ? "taos:translate-x-[-200px]" : "taos:translate-x-[-200px]"}
          [animation-iteration-count:infinite]`
  data-taos-offset={isOdd ? 200 : 400}
>
  <a href={slug} class="h-full flex flex-col justify-between gap-2">
    <h3 class="text-lg font-bold">{title}</h3>
    <p class="font-body my-2">{description}</p>
    {image && <Image src={image.src} alt={image.alt} />}
    <p class="pt-2 float-right font-semibold">Read More...</p>
  </a>
</li>
